*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 2rem;
  font-family: "Playfair Display", serif;
  background: #FBEBEA;
  color: #2E2829;
  position: relative;
  background-image: url(../img/strawberry-cut.png), url(../img/berry.png), url(../img/strawberry.png);
  background-repeat: no-repeat;
  background-position: 56.5rem 12.5rem, 54.5rem 53rem, 52rem 83rem;
  background-size: 12rem, 8rem, 17.5rem;
}

main {
  overflow: hidden;
  padding-top: 20rem;
}

img {
  height: auto;
  display: block;
}

h1, h2, h3, h4 {
  margin: 0;
}

a, address {
  color: #2E2829;
  font-size: 1.3rem;
  line-height: 1.6rem;
  text-decoration: none;
  text-transform: uppercase;
  transition: .3s;
}

a:hover, a:active, address:hover, address:active {
  color: #F50049;
}

p, .info__text {
  font-size: 2rem;
  line-height: 2.7rem;
  text-transform: none;
}

ul, ol {
  list-style: none;
}

i {
  font-size: 5.5rem;
}

.container {
  width: 114rem;
  margin: 0 auto;
}

.button {
  display: inline-block;
  color: #ffffff;
  background: #F50049;
  background-position: 1%;
  background-size: 300% 300%;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  border-radius: 2.5rem;
  padding: 1.3rem 6.2rem;
  cursor: pointer;
  transition: all 1s ease-out;
  animation: 2s infinite increasing;
  backface-visibility: hidden;
}

.button:hover {
  color: #ffffff;
  background: linear-gradient(270deg, #f7931e, #ff5621, transparent, transparent);
  background-position: 99%;
  background-size: 300% 300%;
}

@keyframes increasing {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}

.title {
  font-weight: 700;
  font-size: 4rem;
  line-height: 6.6rem;
}

.animated-icon {
  trnasition: .3s;
}

.animated-icon:hover {
  animation: .5s ease shaking;
  backface-visibility: hidden;
}

@keyframes shaking {
  0%,
  100% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(-25deg);
  }
  65% {
    transform: rotate(25deg);
  }
}

section {
  position: relative;
}

.start {
  position: absolute;
}

.center {
  text-align: center;
}

.main-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background-color: #FBEBEA;
  box-shadow: 0px 10px 13px rgba(163, 6, 60, 0.05);
  padding: 2.2rem 0 2.1rem;
}

.main-nav {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 5%;
  cursor: pointer;
}

.navigation {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 20%;
}

.navigation__link {
  position: relative;
  display: inline-block;
  padding: .4rem 0;
  text-transform: uppercase;
}

.navigation__link:before, .navigation__link:after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: .1rem;
  background-color: #f487a7;
  opacity: 0;
  transition: .3s;
}

.navigation__link::before {
  top: 0;
  transform: translateY(-10px);
}

.navigation__link::after {
  bottom: 0;
  transform: translateY(10px);
}

.navigation__link:hover::before, .navigation__link:hover::after {
  opacity: 1;
  transform: translateY(0);
}

.phone {
  width: 17%;
  font-weight: 700;
  text-align: right;
}

.promo {
  margin-bottom: 25rem;
}

.promo__start {
  top: -17rem;
}

.promo__title {
  font-weight: 700;
  font-size: 7.8rem;
  line-height: 7rem;
  margin-bottom: 2.5rem;
}

.promo__text {
  font-style: italic;
  font-weight: 400;
  font-size: 4rem;
  line-height: 5.3rem;
  margin-bottom: 7.5rem;
}

.promo__cake {
  position: absolute;
  top: -12rem;
  left: 60.5rem;
}

.promo__button {
  font-weight: 700;
  line-height: 2.7rem;
  margin-bottom: 10rem;
}

.promo__features {
  width: 45%;
  display: flex;
  justify-content: space-between;
}

.promo__item {
  width: 50%;
  display: flex;
  align-items: center;
  font-size: 2rem;
  line-height: 2.7rem;
}

.promo__icon {
  font-size: 5.5rem;
  margin-right: 1rem;
}

.catalog {
  margin-bottom: 8rem;
}

.catalog__start {
  top: -8rem;
}

.catalog__title {
  margin-bottom: 5.5rem;
}

.catalog__cards {
  display: grid;
  grid-template-columns: 55% 45%;
  grid-template-rows: 50% 50%;
  gap: 2rem;
}

.catalog__item {
  position: relative;
  padding: 3rem;
  background-color: #ffffff;
  box-shadow: 0px 10px 13px rgba(163, 6, 60, 0.05);
  transition: all .3s ease;
}

.catalog__item:hover {
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
}

.catalog__item:nth-child(1) {
  grid-column: 1 / 2;
  grid-row: 1 / -1;
}

.catalog__item:nth-child(2) {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.catalog__item:nth-child(3) {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.catalog__subtitle {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 3.2rem;
}

.catalog__info, .catalog__link {
  position: absolute;
}

.catalog__link {
  right: 3rem;
  bottom: 2.5rem;
  font-size: 1.8rem;
  line-height: 2.4rem;
}

.catalog img {
  margin: 0 auto;
}

.catalog__btn {
  display: inline-block;
  position: relative;
  z-index: 1;
  font-size: 1.5rem;
  line-height: 2.4rem;
  padding: 1rem 2rem;
  background: transparent;
  border: 1px solid transparent;
  border-radius: 2.5rem;
  transition: all .3s ease;
}

.catalog__btn svg {
  display: none;
  position: absolute;
  top: 50%;
  right: 1.7rem;
  transition: all .3s ease;
  transform: translateY(-50%);
}

.catalog__btn:hover > .catalog__btn__svg {
  display: initial;
}

.catalog__btn:hover {
  padding-right: 4.5rem;
  box-shadow: inset 0 -30px 40px -30px #f487a7;
  border: 1px solid #f487a7;
}

.catalog__btn::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  opacity: 0;
  width: 7rem;
  height: .2rem;
  background-color: #F50049;
  transform: translateY(-50%);
  transition: all .3s ease;
}

.catalog__btn:hover::before {
  opacity: 1;
  width: 1rem;
  left: 11.4rem;
}

.reviews {
  margin-bottom: 8rem;
}

.reviews__start {
  top: -18rem;
}

.reviews__title {
  text-align: center;
}

.reviews__subtitle {
  font-weight: 700;
  font-size: 2.7rem;
  line-height: 3.6rem;
}

.reviews__info {
  font-size: 2.5rem;
  line-height: 3.3rem;
  margin-bottom: 2rem;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.slider {
  position: relative;
  width: 100%;
  height: 33rem;
  overflow: hidden;
  margin: 0 auto;
}

.slider__button {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  display: flex;
  align-items: center;
  width: 9rem;
  height: 16rem;
  padding: 2rem;
  background-color: rgba(244, 135, 167, 0.1);
  border: none;
  border-radius: 50%;
  box-sizing: border-box;
  cursor: pointer;
  z-index: 1;
}

.slider__button svg {
  fill: #ffffff;
}

.slider__button:disabled {
  pointer-events: none;
}

.slider__button:disabled svg {
  fill-opacity: 0.5;
}

.slider__button:hover {
  opacity: 0.7;
}

.slider__button:active {
  opacity: 0.5;
}

.slider__button_prev {
  left: 0;
  justify-content: flex-end;
  transform: translateX(-50%);
}

.slider__button_next {
  right: 0;
  justify-content: flex-start;
  transform: translateX(50%);
}

.slides {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  transition: transform 300ms ease;
}

.slide {
  width: 100%;
  flex: none;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.slide img {
  width: 20%;
  height: auto;
  border-radius: 50%;
}

.slide:nth-of-type(4) img:nth-of-type(1) {
  border-radius: 33%;
}

.slide__info {
  width: 50%;
}

.slider__navigation {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -1.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  list-style: none;
  margin: 0 auto;
  padding: 2rem 0;
  z-index: 1;
}

.slider__navigation-link {
  display: block;
  width: 4rem;
  height: .4rem;
  flex: none;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 2px;
}

.slider__navigation-link:hover {
  opacity: 0.7;
}

.slider__navigation-link:active {
  opacity: 0.5;
}

.active {
  background-color: #ffffff;
  pointer-events: none;
}

.advantages {
  margin-bottom: 100rem;
}

.advantages__start {
  top: -8rem;
}

.advantages__end {
  top: 42rem;
}

.advantages__title {
  margin-bottom: 2.5rem;
  text-align: center;
}

.advantages__subtitle {
  font-style: italic;
  font-size: 3rem;
  line-height: rem;
  text-align: center;
}

.advantages__part {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.advantages__part_up {
  top: 10rem;
  left: 0;
  background-image: url(../img/strawberry1.png);
  background-repeat: no-repeat;
  background-position: 90rem 2rem;
  background-size: 18rem;
}

.advantages__part_down {
  top: 60rem;
  right: 0;
}

.advantages__info {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.advantages__icon {
  margin-right: 3rem;
}

.info__subtitle {
  font-weight: 700;
  line-height: 2.7rem;
  margin-bottom: 2rem;
}

.contacts {
  margin-bottom: 8rem;
}

.contacts__start {
  top: -7rem;
}

.contacts__flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contacts__title, .contacts__item {
  margin-bottom: 3rem;
}

.social__list {
  width: 57%;
  display: flex;
  justify-content: space-between;
}

.social__item {
  display: flex;
  width: 6.3rem;
  height: 6.3rem;
  background-color: #ffffff;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}

.social__item i {
  font-size: 3rem;
}

.main-footer {
  width: 100%;
  background-color: #E8E8E8;
}

.main-footer .container {
  display: flex;
  justify-content: space-between;
  padding: 5rem 0;
  border-bottom: 1px solid #D0D0D0;
}

.main-footer__navigation {
  width: 60%;
  display: flex;
  justify-content: space-between;
}

.main-footer__navigation a::before,
.main-footer__navigation a::after {
  display: none;
}

.main-footer .center {
  padding: 1.7rem;
  color: #D0D0D0;
}

@media (max-width: 1199px) {
  .container {
    width: 960px;
  }
  body {
    background-position: 53.5rem 12.5rem, 52.5rem 53rem, 60rem 83rem;
  }
  html {
    font-size: 59%;
  }
  .promo {
    margin-bottom: 15rem;
  }
  .promo__cake {
    width: 62rem;
  }
  .promo__features {
    width: 63%;
  }
  .reviews {
    margin-bottom: 8rem;
  }
  .advantages {
    margin-bottom: 123rem;
  }
  .advantages__part_up {
    top: 13rem;
    left: 1rem;
    background-position: 70rem 5rem;
  }
  .advantages__part_down {
    top: 77rem;
    right: -75px;
  }
  .contacts {
    margin-bottom: 7rem;
  }
  .contacts__flex {
    margin-bottom: 2rem;
  }
}

@media (max-width: 991px) {
  .container {
    width: 750px;
  }
  body {
    background-size: 10rem, 6rem, 15rem;
    background-position: 54.5rem 12.5rem, 55.5rem 53rem, 60rem 76rem;
  }
  html {
    font-size: 57%;
  }
  .title {
    text-align: center;
  }
  .promo {
    padding-left: 67px;
  }
  .promo__cake {
    width: 50rem;
    left: 61rem;
  }
  .navigation {
    margin-right: unset;
  }
  .navigation__item {
    flex-grow: 1;
  }
  .phone {
    width: 16%;
  }
  .logo {
    margin-right: unset;
  }
  .logo img {
    max-width: 70%;
  }
  .promo {
    margin-bottom: 10rem;
  }
  .promo__features {
    width: 100%;
  }
  .catalog__cards {
    gap: 1rem;
  }
  .catalog img {
    margin: 4rem auto 2rem;
  }
  .catalog__item:nth-of-type(1) img:nth-of-type(1) {
    width: 300px;
    margin-top: 16rem;
  }
  .reviews {
    margin-bottom: 6rem;
  }
  .advantages {
    margin-bottom: 87rem;
  }
  .advantages__part {
    justify-content: space-around;
  }
  .advantages img {
    width: 400px;
  }
  .advantages__part_up {
    background-position: 60rem 2rem;
    background-size: 122px;
  }
  .advantages__part_down {
    top: 55rem;
  }
  iframe {
    width: 400px;
  }
  .main-footer__navigation {
    width: 80%;
    text-align: right;
  }
}

@media (max-width: 767px) {
  .container {
    width: 540px;
  }
  html {
    font-size: 45%;
  }
  .phone {
    width: 10%;
  }
  .catalog img {
    margin: 8rem auto 2rem;
  }
  .catalog__item:nth-of-type(1) img:nth-of-type(1) {
    width: 250px;
  }
  .catalog__item:nth-child(2) img {
    width: 200px;
  }
}

@media (max-width: 575px) {
  .container {
    width: 100%;
  }
  html {
    font-size: 40%;
  }
}
