*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  min-width: 140rem;
  font-size: 2rem;
  font-family: "Playfair Display", serif;
  background: #FBEBEA;
  color: #2E2829;
  position: relative;
  padding-top: 6rem;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

h1, h2, h3, h4 {
  margin: 0;
}

a {
  color: #2E2829;
  font-size: 1.3rem;
  line-height: 1.6rem;
  text-decoration: none;
  text-transform: uppercase;
  transition: .3s;
}

a:hover, a:active {
  color: #F50049;
}

p {
  line-height: 20px;
  line-height: 2.7rem;
}

ul, ol {
  list-style: none;
}

.container {
  width: 120rem;
  margin: 0 auto;
}

.button {
  display: inline-block;
  color: #ffffff;
  background: #F50049;
  background-position: 1%;
  background-size: 300% 300%;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
  border-radius: 2.5rem;
  padding: 1.2rem 6.2rem;
  cursor: pointer;
  transition: all 1s ease-out;
}

.button:hover {
  color: #ffffff;
  background: linear-gradient(270deg, #f7931e, #ff5621, transparent, transparent);
  background-position: 99%;
  background-size: 300% 300%;
}

.title {
  font-weight: 700;
  font-size: 4rem;
  line-height: 6.6rem;
}

.main-nav {
  display: flex;
  align-items: center;
  margin-bottom: 15rem;
}

.logo {
  margin-right: 5%;
}

.navigation {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 30%;
}

.navigation__link {
  position: relative;
  display: inline-block;
  padding: .4rem 0;
}

.navigation__link:before, .navigation__link:after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: .1rem;
  background-color: #f487a7;
  opacity: 0;
  transition: .3s;
}

.navigation__link::before {
  top: 0;
  transform: translateY(-10px);
}

.navigation__link::after {
  bottom: 0;
  transform: translateY(10px);
}

.navigation__link:hover::before, .navigation__link:hover::after {
  opacity: 1;
  transform: translateY(0);
}

.phone {
  width: 17%;
  font-weight: 700;
}

.promo {
  position: relative;
  margin-bottom: 25rem;
}

.promo__title {
  font-weight: 700;
  font-size: 7.8rem;
  line-height: 7rem;
  margin-bottom: 2.5rem;
}

.promo__text {
  font-style: italic;
  font-weight: 400;
  font-size: 4rem;
  line-height: 5.3rem;
  margin-bottom: 7.5rem;
}

.promo__cake {
  position: absolute;
  top: -12rem;
  left: 58.5rem;
}

.promo__button {
  font-weight: 700;
  line-height: 2.7rem;
  margin-bottom: 10rem;
}

.promo__features {
  width: 42%;
  display: flex;
  justify-content: space-between;
}

.promo__item {
  width: 50%;
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  line-height: 1.8rem;
}

.promo__icon {
  font-size: 5.5rem;
  margin-right: 1rem;
}

.catalog {
  margin-bottom: 10rem;
}

.catalog__title {
  margin-bottom: 5.5rem;
}

.catalog__cards {
  display: grid;
  grid-template-columns: 55% 45%;
  grid-template-rows: 50% 50%;
  gap: 4rem;
}

.catalog__item {
  background-color: #ffffff;
  padding: 3rem;
  box-shadow: 0px 10px 13px rgba(163, 6, 60, 0.05);
  position: relative;
}

.catalog__item:nth-child(1) {
  grid-column: 1 / 2;
  grid-row: 1 / -1;
}

.catalog__item:nth-child(2) {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.catalog__item:nth-child(3) {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.catalog__info, .catalog__link {
  position: absolute;
}

.catalog__link {
  right: 4rem;
  bottom: 4rem;
  font-size: 1.8rem;
  line-height: 2.4rem;
  text-transform: none;
}

.catalog__subtitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
}

.catalog__cake {
  margin: 4rem auto 0;
}

.catalog__item:nth-of-type(1) img:nth-of-type(1) {
  margin-top: 8rem;
}
