// VARIABLES AND MIXINS

$color-white: #ffffff
$color-light-grey: #f4f4f4
$color-grey: #a1a1a1
$color-dark-grey: #575757
$color-black: #000000

$main-color: #2E2829
$added-color: #F50049
$added-color-light: #f487a7

$color-background: #FBEBEA

$box-shadow: 0px 2px 5px rgba($color-black, 0.25)

// COMMON STYLES 

*, ::after, ::before
    margin: 0
    padding: 0
    box-sizing: border-box

html
    // font-size: 10px
    // 10px : 16px (по умолчанию) * 100 = 62.5%
    // для изменения размера шрифта для слабовидящих 
    font-size: 62.5%

body
    min-width: 140rem
    font-size: 2rem
    font-family: "Playfair Display", serif
    background: $color-background
    color: $main-color
    position: relative
    padding-top: 6rem

img
    max-width: 100%
    height: auto
    display: block

h1, h2, h3, h4
    margin: 0

a
    color: $main-color
    font-size: 1.3rem
    line-height: 1.6rem
    text-decoration: none
    text-transform: uppercase
    transition: .3s
    &:hover,
    &:active
        color: $added-color

p
    line-height: 20px
    line-height: 2.7rem

ul, ol
    list-style: none

.button
    color: $color-white
    background: $added-color
    background-position: 1%
    background-size: 300% 300%
    box-shadow: $box-shadow
    border-radius: 2.5rem
    padding: 1.7rem 6.2rem
    cursor: pointer
    transition: all .7s ease-out
    &:hover
        color: $color-white
        background: linear-gradient(270deg,#f7931e,#ff5621,transparent,transparent)
        background-position: 99%
        background-size: 300% 300%

.container
    width: 120rem
    margin: 0 auto

// HEADER

.main-nav
    display: flex
    align-items: center
    margin-bottom: 15rem

.logo
    margin-right: 5%

.navigation
    width: 100%
    display: flex
    justify-content: space-between
    align-items: center
    margin-right: 30%

    &__link
        position: relative
        display: inline-block
        padding: .4rem 0
        &:before,
        &:after
            content: ""
            position: absolute
            left: 0
            width: 100%
            height: .1rem
            background-color: $added-color-light
            opacity: 0
            transition: .3s
        &::before
            top: 0
            transform: translateY(-10px)
        &::after
            bottom: 0
            transform: translateY(10px)
        &:hover::before,
        &:hover::after
            opacity: 1
            transform: translateY(0)

.phone
    width: 17%
    font-weight: 700

// MAIN

// PROMO

.promo
    position: relative

    &__title
        font-weight: 700
        font-size: 7.8rem
        line-height: 7rem
        margin-bottom: 2.5rem

    &__text
        font-style: italic
        font-weight: 400
        font-size: 4rem
        line-height: 5.3rem
        margin-bottom: 7.5rem

    &__cake
        position: absolute
        top: -12rem
        left: 58.5rem

    &__button
        font-weight: 700
        line-height: 2.7rem
        margin-bottom: 10rem

    &__features
    &__nature
    &__delivery
